body{
    background-color: white;
    width: 100%; 
    overflow-x: hidden;
}
.main{
    width: 1440px;
    margin: 0 auto;
}

.first{
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
}
.second{
    text-align: center;
    font-size: 85px;
    margin-top: 9.5%;
}
.liner{
    width: 200px;
    border: 1px solid black;
}
.liner{
    width: 200px;
    border: 1px solid black;
}
.liner2{
    border: 2px dashed rgb(0, 0, 0);
    width: 260px;
    margin-top: -10px;
   margin-left: 45.4%;
}
.box1{
    width: 250px;
    margin: 7px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5%;
}
.text{
    font-size: 65px;
    position: relative;
    margin-right: 25px;
}
.liner3{
    border: 2px dashed rgb(0, 0, 0);
    width: 1150px;
    margin-top: -10px;
}
.text1{
    font-size: 65px;
    margin-top: 10px;
}
.box2{
    margin: 7px auto;
    display: flex;
    justify-content: center;
    margin-top: 4%;
}
.text2{
    font-size: 25px;
}
.box3{
    display: flex;
    justify-content: center;
}
.text3{
    font-size: 65px;
    margin-top:20px;
}
.box4{
    display: flex;
    justify-content: center;
}
.liner4{
    border: 2px dashed rgb(0, 0, 0);
    width: 1150px;
    margin-top: -10px;
}
.text4{
    font-size: 25px;
}
.box5{
    display: flex;
    justify-content: center;
}
.box6{
    width: 37%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 60%;
    margin-top: -1%;
}
.liner5{
    border: 2px dashed rgb(0, 0, 0);
    width: 300px;
    margin-top: -55px;
    margin-right: 105px;
    position: relative;
}
.box7{
    width: 100%;
    margin-top: 8%;
}

.box8{
    display: flex;
    justify-content: center;
    margin-right: 25%;
    margin-top: 4.5%;
    gap: 20px;
}
.liner6{
    border: 2px dashed rgb(0, 0, 0);
    width: 985px;
    margin-top: -2px;
    margin-right: 235px;
    position: relative;    
}
.text6{
    font-size: 25px;
}
.text5{
    font-size: 30px;
}
.box9{
    display: flex;
    justify-content: center;
    margin-right: 48.5%;
    margin-top: 2%;
    gap: 20px;
}
.liner7{
    border: 2px dashed rgb(0, 0, 0);
    width: 985px;
    margin-top: -2px;
    margin-right: 235px;
    position: relative; 
}
.box10{
    display: flex;
    justify-content: center;
    margin-right: 45.5%;
    margin-top: 2%;
    gap: 20px;
}
.liner8{
    border: 2px dashed rgb(0, 0, 0);
    width: 985px;
    margin-top: -2px;
    margin-right: 235px;
    position: relative; 
}
.box11{
    display: flex;
    justify-content: center;
    margin-right: 42.5%;
    margin-top: 2%;
    gap: 20px;
}
.liner9{
    border: 2px dashed rgb(0, 0, 0);
    width: 985px;
    margin-top: -2px;
    margin-right: 235px;
    position: relative; 
}
.box12{
    display: flex;
    justify-content: center;
    margin-right: 43.5%;
    margin-top: 2%;
    gap: 26px;
}
.liner10{
    border: 2px dashed rgb(0, 0, 0);
    width: 985px;
    margin-top: -2px;
    margin-right: 235px;
    position: relative; 
}
.box13{
    display: flex;
    justify-content: center;
    margin-right: 25%;
    margin-top: 2%;
    gap: 20px;
}
.liner11{
    border: 2px dashed rgb(0, 0, 0);
    width: 985px;
    margin-top: -2px;
    margin-right: 235px;
    position: relative; 
}
.box14{
    display: flex;
    justify-content: center;
    margin-right: 65.5%;
    margin-top: 2%;
    gap: 20px;
}
.liner12{
    border: 2px dashed rgb(0, 0, 0);
    width: 985px;
    margin-top: -2px;
    margin-right: 235px;
    position: relative; 
}
.box15{
    display: flex;
    justify-content: center;
    margin-right: -250px;
    margin-top: -2.5%;
    gap: 20px;
    position: relative;
}
.liner13{
    border: 2px dashed rgb(0, 0, 0);
    width: 985px;
    margin-top: -2px;
    margin-right: 235px;
    position: relative; 
}
.box16{
    display: flex;
    justify-content: center;
    margin-right: 58%;
    margin-top: 2%;
    gap: 20px;
}
.liner14{
    border: 2px dashed rgb(0, 0, 0);
    width: 985px;
    margin-top: -2px;
    margin-right: 235px;
    position: relative; 
}
.box17{
    display: flex;
    justify-content: center;
    margin-right: 9%;
    margin-top: 2%;
    gap: 20px;
}
.liner15{
    border: 2px dashed rgb(0, 0, 0);
    width: 985px;
    margin-top: -2px;
    margin-right: 235px;
    position: relative; 
}
.box18{
    display: flex;
    justify-content: center;
    margin-right: 25.5%;
    margin-top: 2%;
    gap: 20px;
}
.liner16{
    border: 2px dashed rgb(0, 0, 0);
    width: 985px;
    margin-top: -2px;
    margin-right: 235px;
    position: relative; 
}
.box19{
    display: flex;
    justify-content: center;
    margin-right: 58.5%;
    margin-top: 2%;
    gap: 20px;
}
.liner17{
    border: 2px dashed rgb(0, 0, 0);
    width: 985px;
    margin-top: -2px;
    margin-right: 235px;
    position: relative; 
}
.box20{
    display: flex;
    justify-content: center;
    margin-right: 37%;
    margin-top: 2%;
    gap: 20px;
}
.liner18{
    border: 2px dashed rgb(0, 0, 0);
    width: 985px;
    margin-top: -2px;
    margin-right: 235px;
    position: relative; 
}
.box21{
    display: flex;
    justify-content: center;
    margin-right: 35.5%;
    margin-top: 2%;
    gap: 20px;
}
.liner19{
    border: 2px dashed rgb(0, 0, 0);
    width: 985px;
    margin-top: -2px;
    margin-right: 235px;
    position: relative; 
}
.box22{
    width: 100%;
    margin-top: 4%;
}
.box23{
    display: flex;
    justify-content: center;
    margin-top: 7.5%;
}
.text7{
    font-size: 85px;
}

.red{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15%;
    margin-top: -12%;
}
.blackone{
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 12%;
    margin-top: -48%;
}
.blacktwo{
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 12%;
    margin-top: 6%;
}
.blackthree{
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 38%;
    margin-top: -18%;
}
.blackfour{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 60%;
    margin-top: -3%;
}
.blackfive{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 70%;
    margin-top: -29%;
}
.red1{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15%;
    margin-top: -23%;
}
.box24{
    display: flex;
    justify-content: center;
    margin-top: -2%
}
