body{
    background-color: white;
    width: 100%; 
    overflow-x: hidden;
}
.main{
    width: 1440px;
    margin: 0 auto;
}

.first{
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
}
.second{
    text-align: center;
    font-size: 85px;
    margin-top: 9.5%;
}

.liner{
    width: 200px;
    border: 1px solid black;
}
.liner{
    width: 200px;
    border: 1px solid black;
}
.liner2{
    border: 2px dashed rgb(0, 0, 0);
    width: 260px;
    margin-top: -10px;
   margin-left: 45.4%;
}
.box1{
    width: 250px;
    margin: 7px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5%;
}
.text{
    font-size: 65px;
    position: relative;
    margin-right: 25px;
}
.liner3{
    border: 2px dashed rgb(0, 0, 0);
    width: 1150px;
    margin-top: -10px;
}
.text1{
    font-size: 65px;
    margin-top: 10px;
}
.box2{
    margin: 7px auto;
    display: flex;
    justify-content: center;
    margin-top: 4%;
}
.text2{
    font-size: 25px;
}
.box3{
    display: flex;
    justify-content: center;
}
.text3{
    font-size: 65px;
    margin-top:20px;
}
.box4{
    display: flex;
    justify-content: center;
}
.liner4{
    border: 2px dashed rgb(0, 0, 0);
    width: 1150px;
    margin-top: -10px;
}
.text4{
    font-size: 25px;
}
.box5{
    display: flex;
    justify-content: center;
}
.box6{
    width: 37%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 60%;
    margin-top: -1%;
}
.liner5{
    border: 2px dashed rgb(0, 0, 0);
    width: 300px;
    margin-top: -55px;
    margin-right: 105px;
    position: relative;
}
.box7{
    width: 100%;
    margin-top: 8%;
}

.box8{
    display: flex;
    justify-content: center;
    margin-right: 25%;
    margin-top: 4.5%;
    gap: 20px;
}
.liner6{
    border: 2px dashed rgb(0, 0, 0);
    width: 985px;
    margin-top: -2px;
    margin-right: 235px;
    position: relative;    
}
.text6{
    font-size: 25px;
}
.text5{
    font-size: 30px;
}
.box9{
    display: flex;
    justify-content: center;
    margin-right: 48.5%;
    margin-top: 2%;
    gap: 20px;
}
.liner7{
    border: 2px dashed rgb(0, 0, 0);
    width: 985px;
    margin-top: -2px;
    margin-right: 235px;
    position: relative; 
}
.box10{
    display: flex;
    justify-content: center;
    margin-right: 45.5%;
    margin-top: 2%;
    gap: 20px;
}
.liner8{
    border: 2px dashed rgb(0, 0, 0);
    width: 985px;
    margin-top: -2px;
    margin-right: 235px;
    position: relative; 
}
.box11{
    display: flex;
    justify-content: center;
    margin-right: 42.5%;
    margin-top: 2%;
    gap: 20px;
}
.liner9{
    border: 2px dashed rgb(0, 0, 0);
    width: 985px;
    margin-top: -2px;
    margin-right: 235px;
    position: relative; 
}
.box12{
    display: flex;
    justify-content: center;
    margin-right: 43.5%;
    margin-top: 2%;
    gap: 26px;
}
.liner10{
    border: 2px dashed rgb(0, 0, 0);
    width: 985px;
    margin-top: -2px;
    margin-right: 235px;
    position: relative; 
}
.box13{
    display: flex;
    justify-content: center;
    margin-right: 25%;
    margin-top: 2%;
    gap: 20px;
}
.liner11{
    border: 2px dashed rgb(0, 0, 0);
    width: 985px;
    margin-top: -2px;
    margin-right: 235px;
    position: relative; 
}
.box14{
    display: flex;
    justify-content: center;
    margin-right: 65.5%;
    margin-top: 2%;
    gap: 20px;
}
.liner12{
    border: 2px dashed rgb(0, 0, 0);
    width: 985px;
    margin-top: -2px;
    margin-right: 235px;
    position: relative; 
}
.box15{
    display: flex;
    justify-content: center;
    margin-right: -250px;
    margin-top: -2.5%;
    gap: 20px;
    position: relative;
}
.liner13{
    border: 2px dashed rgb(0, 0, 0);
    width: 985px;
    margin-top: -2px;
    margin-right: 235px;
    position: relative; 
}
.box16{
    display: flex;
    justify-content: center;
    margin-right: 58%;
    margin-top: 2%;
    gap: 20px;
}
.liner14{
    border: 2px dashed rgb(0, 0, 0);
    width: 985px;
    margin-top: -2px;
    margin-right: 235px;
    position: relative; 
}
.box17{
    display: flex;
    justify-content: center;
    margin-right: 9%;
    margin-top: 2%;
    gap: 20px;
}
.liner15{
    border: 2px dashed rgb(0, 0, 0);
    width: 985px;
    margin-top: -2px;
    margin-right: 235px;
    position: relative; 
}
.box18{
    display: flex;
    justify-content: center;
    margin-right: 25.5%;
    margin-top: 2%;
    gap: 20px;
}
.liner16{
    border: 2px dashed rgb(0, 0, 0);
    width: 985px;
    margin-top: -2px;
    margin-right: 235px;
    position: relative; 
}
.box19{
    display: flex;
    justify-content: center;
    margin-right: 58.5%;
    margin-top: 2%;
    gap: 20px;
}
.liner17{
    border: 2px dashed rgb(0, 0, 0);
    width: 985px;
    margin-top: -2px;
    margin-right: 235px;
    position: relative; 
}
.box20{
    display: flex;
    justify-content: center;
    margin-right: 37%;
    margin-top: 2%;
    gap: 20px;
}
.liner18{
    border: 2px dashed rgb(0, 0, 0);
    width: 985px;
    margin-top: -2px;
    margin-right: 235px;
    position: relative; 
}
.box21{
    display: flex;
    justify-content: center;
    margin-right: 35.5%;
    margin-top: 2%;
    gap: 20px;
}
.liner19{
    border: 2px dashed rgb(0, 0, 0);
    width: 985px;
    margin-top: -2px;
    margin-right: 235px;
    position: relative; 
}
.box22{
    width: 100%;
    margin-top: 4%;
}
.box23{
    display: flex;
    justify-content: center;
    margin-top: 7.5%;
}
.text7{
    font-size: 85px;
}

.red{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15%;
    margin-top: -12%;
}
.blackone{
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 12%;
    margin-top: -48%;
}
.blacktwo{
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 12%;
    margin-top: 6%;
}
.blackthree{
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 38%;
    margin-top: -18%;
}
.blackfour{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 60%;
    margin-top: -3%;
}
.blackfive{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 70%;
    margin-top: -29%;
}
.red1{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15%;
    margin-top: -23%;
}
.box24{
    display: flex;
    justify-content: center;
    margin-top: -1%;
    margin-left: -460px;
}

.cube{
    border: #000000 solid 3px;
    background: #ffffff;
    width: 500px;
    height: 146px;
    margin-top: 30px;
    margin-left: 180px;
}
.table{
    border: #000000 solid 1.5px;
    width: 500px;
    margin-top: -4.5%;
    margin-left: 180px;
    position: relative; 
}
.table1{
    border: #000000 solid 1.5px;
    width: 146px;
    margin-top: -0.7%;
    margin-left: 360px;
    position: relative; 
    rotate: 90deg;
}  
.text8{
    font-size: 25px;
}
.box25{
    display: flex;
    justify-content: center;
    margin-top: -4.5%;
    margin-left: 350px;
}
.text9{
    font-size: 30px;
}
.box26{
    display: flex;
    justify-content: center;
    margin-top: -6.5%;
    margin-left: -1120px;
}
.box27{
    display: flex;
    justify-content: center;
    margin-top: -1.75%;
    margin-left: -640px;
}
.box28{
    display: flex;
    justify-content: center;
    margin-top: 2.7%;
    margin-left: -1170px;
}
.box29{
    display: flex;
    justify-content: center;
    margin-top: -1.7%;
    margin-left: -555px;
}
.cube1{
    width: 1296px;
    height: 220px;
    border: #333 solid 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5% auto 0px;
}
.table2{
    border: #000000 solid 1.5px;
    width: 1296px;
    margin-top: -6.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative; 
}
.table3{
    border: #000000 solid 1.5px;
    width: 1296px;
    margin-top: -4.1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative; 
}
.table4{
    border: #000000 solid 1.5px;
    width: 1296px;
    margin-top: 6.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative; 
}
.table5{
    border: #000000 solid 1.5px;
    width: 220px;
    margin-top: -4.2%;
    margin-left: 330px;
    position: relative; 
    rotate: 90deg;
}
.table6{
    border: #000000 solid 1.5px;
    width: 220px;
    margin-top: -0.6%;
    margin-left: 590px;
    position: relative; 
    rotate: 90deg;
}
.table7{
    border: #000000 solid 1.5px;
    width: 220px;
    margin-top: -0.6%;
    margin-left: 856px;
    position: relative; 
    rotate: 90deg;
}
.table8{
    border: #000000 solid 1.5px;
    width: 220px;
    margin-top: -0.7%;
    margin-left: 1116px;
    position: relative; 
    rotate: 90deg;
}
.box30{
    display: flex;
    justify-content: center;
    gap: 150px;
    margin-top: -6%;
    position: relative;
    margin-left: -80px;
}

.box31{
    display: flex;
    justify-content: center;
    gap: 150px;
    margin-top: 1.6%;
    position: relative;
    margin-left: -40px;
}
.box32{
    display: flex;
    justify-content: center;
    gap: 120px;
    margin-top: 1.5%;
    margin-left: 0px;
}
.box33{
    display: flex;
    justify-content: center;
    gap: 120px;
    margin-top: 1.4%;
    margin-left: 0px;
}
.black1{
    width: 110%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -3%;
    margin-top: 10%;
    rotate: 4deg;
}
.black2{
    width: 110%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -3%;
    margin-top: 4%;
    rotate: 1.5deg;
}
.black3{
    width: 110%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -5%;
    margin-top: -10%;
    rotate: -10deg;
}

.box34{
    display: flex;
    justify-content: center;
    margin-top: 12%;
    margin-left: -785px;
}
.text10{
    font-size: 60px;
}
.box35{
    display: flex;
    justify-content: center;
    margin-top: 3%;
    margin-left: -868px;
}
.cube2{
    border: #000000 solid 3px;
    background: #ffffff;
    width: 355px;
    height: 285px;
    margin-top: 30px;
    margin-left: 185px;
}
.table9{
    border: #000000 solid 1.5px;
    width: 285px;
    margin-top: -8.8%;
    margin-left: 223px;
    position: relative; 
    rotate: 90deg;
}
.table10{
    border: #000000 solid 1.5px;
    width: 355px;
    margin-top: 5%;
    margin-left: 185px;
    position: relative; 
}
.cube3{
    border: #000000 solid 3px;
    background: #ffffff;
    width: 355px;
    height: 285px;
    margin-top: 30px;
    margin-left: 185px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: -14.5% auto 0px;
}
.table11{
    border: #000000 solid 1.5px;
    width: 285px;
    margin-top: -8.8%;
    margin-left: 223px;
    position: relative; 
    rotate: 90deg;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: -8.9% auto 0px;
}
.table12{
    border: #000000 solid 1.5px;
    width: 355px;
    margin-top: 5%;
    margin-left: 185px;
    position: relative; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5% auto 0px;
}
.cube4{
    border: #000000 solid 3px;
    background: #ffffff;
    width: 355px;
    height: 285px;
    margin-top: -13.85%;
    margin-left: 1120px;
}
.table13{
    border: #000000 solid 1.5px;
    width: 230px;
    margin-top: -7.1%;
    margin-left: 1190px;
    position: relative; 
    rotate: 90deg;
}
.table14{
    border: #000000 solid 1.5px;
    width: 355px;
    margin-top: 3.3%;
    margin-left: 1120px;
    position: relative; 
}
.text11{
    font-size: 250px;
}
.letter{
    display: flex;
    justify-content: center;
    margin-top: -15%;
    margin-left: -1085px;
}
.cane{
    display: flex;
    justify-content: center;
    margin-top: -12.2%;
    margin-left: -755px;
}
.letter1{
    display: flex;
    justify-content: center;
    margin-top: -12.5%;
    margin-left: -155px;
}
.cane1{
    display: flex;
    justify-content: center;
    margin-top: -12.2%;
    margin-left: 170px;
}
.letter2{
    display: flex;
    justify-content: center;
    margin-top: -14%;
    margin-left: 780px;
}
.cane2{
    display: flex;
    justify-content: center;
    margin-top: -12.2%;
    margin-left: 1110px;
}
.box36{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 2.5%;
    margin-left: -915px;
}
.box37{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: -1.5%;
    margin-left: 15px;
}
.box38{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: -1.5%;
    margin-left: 953px;
}
.note{
    display: flex;
    justify-content: center;
    width: 700px;
    margin-top: -26.4%;
    margin-left: 950px;
}

