body{
    background-color: #ffffff;
    width: 1440px; 
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
}
.main{
    width: 1440px;
    margin: 0 auto;
}
.first{
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
}
.second{
    text-align: center;
    font-size: 85px;
    margin-top: 9.5%;
}

.liner{
    width: 200px;
    border: 1px solid black;
}
.liner{
    width: 200px;
    border: 1px solid black;
}
.liner2{
    border: 2px dashed rgb(0, 0, 0);
    width: 260px;
    margin-top: -10px;
   margin-left: 45.4%;
}
.box1{
    width: 250px;
    margin: 7px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5%;
}
.text{
    font-size: 65px;
    position: relative;
    margin-right: 25px;
}
.liner3{
    border: 2px dashed rgb(0, 0, 0);
    width: 1150px;
    margin-top: -10px;
}
.text1{
    font-size: 65px;
    margin-top: 10px;
}
.box2{
    margin: 7px auto;
    display: flex;
    justify-content: center;
    margin-top: 4%;
}
.text2{
    font-size: 25px;
}
.box3{
    display: flex;
    justify-content: center;
}
.text3{
    font-size: 65px;
    margin-top:20px;
}
.box4{
    display: flex;
    justify-content: center;
}
.liner4{
    border: 2px dashed rgb(0, 0, 0);
    width: 1150px;
    margin-top: -10px;
}
.text4{
    font-size: 25px;
}
.box5{
    display: flex;
    justify-content: center;
}
.box6{
    width: 37%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 60%;
    margin-top: -1%;
}
.liner5{
    border: 2px dashed rgb(0, 0, 0);
    width: 300px;
    margin-top: -55px;
    margin-right: 105px;
    position: relative;
}
.box7{
    width: 100%;
    margin-top: 8%;
}
.box7 img{
    width: 100%;
}


.box8{
    display: flex;
    justify-content: start;
    margin-left: 145px;
    position: relative;
    margin-top: 4.5%;
    gap: 20px;
}
.liner6{
    border: 2px dashed rgb(0, 0, 0);
    width: 885px;
    justify-content: end;
    margin-top: -2px;
    margin-right: 150px;
    position: relative;    
}
.text6{
    font-size: 25px;
}
.text5{
    font-size: 30px;
}
.box9{
    display: flex;
    justify-content: start;
    margin-left: 145px;
    margin-top: 2%;
    gap: 20px;
}
.liner7{
    border: 2px dashed rgb(0, 0, 0);
    width: 850px;
    justify-content: end;
    margin-top: -2px;
    margin-right: 150px;
    position: relative; 
}
.box10{
    display: flex;
    justify-content: start;
    margin-left: 145px;
    margin-top: 2%;
    gap: 20px;
}
.liner8{
    border: 2px dashed rgb(0, 0, 0);
    width: 802px;
    justify-content: end;
    margin-top: -2px;
    margin-right: 150px;
    position: relative; 
}
.box11{
    display: flex;
    justify-content: start;
    margin-left: 145px;
    margin-top: 2%;
    gap: 20px;
}
.liner9{
    border: 2px dashed rgb(0, 0, 0);
    width: 917px;
    justify-content: end;
    margin-top: -2px;
    margin-right: 150px;
    position: relative; 
}
.box12{
    display: flex;
    justify-content: start;
    margin-left: 145px;
    margin-top: 2%;
    gap: 26px;
}
.liner10{
    border: 2px dashed rgb(0, 0, 0);
    width: 965px;
    justify-content: end;
    margin-top: -2px;
    margin-right: 150px;
    position: relative; 
}
.box13{
    display: flex;
    justify-content: start;
    margin-left: 145px;
    margin-top: 2%;
    gap: 20px;
}
.liner11{
    border: 2px dashed rgb(0, 0, 0);
    width: 900px;
    justify-content: end;
    margin-top: -2px;
    margin-right: 150px;
    position: relative; 
}
.box14{
    display: flex;
    justify-content: start;
    margin-left: 145px;
    margin-top: 2%;
    gap: 20px;
}
.liner12{
    border: 2px dashed rgb(0, 0, 0);
    width: 435px;
    justify-content: end;
    margin-top: -2px;
    margin-right: 750px;
    position: relative; 
}
.box15{
    display: flex;
    justify-content: start;
    margin-left: 700px;
    margin-top: -2.5%;
    gap: 20px;
    position: relative;
}
.liner13{
    border: 2px dashed rgb(0, 0, 0);
    width: 445px;
    justify-content: end;
    margin-top: -2px;
    margin-right: 150px;
    position: relative; 
}
.box16{
    display: flex;
    justify-content: start;
    margin-left: 145px;
    margin-top: 2%;
    gap: 20px;
}
.liner14{
    border: 2px dashed rgb(0, 0, 0);
    width: 1000px;
    justify-content: end;
    margin-top: -2px;
    margin-right: 150px;
    position: relative; 
}
.box17{
    display: flex;
    justify-content: start;
    margin-left: 145px;
    margin-top: 2%;
    gap: 20px;
}
.liner15{
    border: 2px dashed rgb(0, 0, 0);
    width: 970px;
    justify-content: end;
    margin-top: -2px;
    margin-right: 150px;
    position: relative; 
}
.box18{
    display: flex;
    justify-content: start;
    margin-left: 145px;
    margin-top: 2%;
    gap: 20px;
}
.liner16{
    border: 2px dashed rgb(0, 0, 0);
    width: 950px;
    justify-content: end;
    margin-top: -2px;
    margin-right: 150px;
    position: relative; 
}
.box19{
    display: flex;
    justify-content: start;
    margin-left: 145px;
    margin-top: 2%;
    gap: 20px;
}
.liner17{
    border: 2px dashed rgb(0, 0, 0);
    width: 1065px;
    justify-content: end;
    margin-top: -2px;
    margin-right: 150px;
    position: relative; 
}
.box20{
    display: flex;
    justify-content: start;
    margin-left: 145px;
    margin-top: 2%;
    gap: 20px;
}
.liner18{
    border: 2px dashed rgb(0, 0, 0);
    width: 820px;
    justify-content: end;
    margin-top: -2px;
    margin-right: 150px;
    position: relative; 
}
.box21{
    display: flex;
    justify-content: start;
    margin-left: 145px;
    margin-top: 2%;
    gap: 20px;
}
.liner19{
    border: 2px dashed rgb(0, 0, 0);
    width: 805px;
    justify-content: end;
    margin-top: -2px;
    margin-right: 150px;
    position: relative; 
}
.box22{
    width: 100%;
    margin-top: 4%;
}
.box22 img{
    width: 100%;
}
.box23{
    display: flex;
    justify-content: center;
    margin-top: 7.5%;
}
.text7{
    font-size: 85px;
}

.red{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15%;
    margin-top: -12%;
}
.blackone{
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 12%;
    margin-top: -48%;
}
.blacktwo{
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 12%;
    margin-top: 6%;
}
.blackthree{
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 38%;
    margin-top: -18%;
}
.blackfour{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 60%;
    margin-top: -3%;
}
.blackfive{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 70%;
    margin-top: -29%;
}
.red1{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15%;
    margin-top: -23%;
}
.box24{
    display: flex;
    justify-content: start;
    margin-left: 145px;
    margin-top: -1%;
}
.sv{
    width: 60%;
    margin-top: 5%;
    margin-left: 145px;
}
.sv{
    width: 60%;
}
.cube{
    border: #000000 solid 3px;
    background: #ffffff;
    width: 240px;
    height: 84px;
    margin-top: 30px;
    justify-content: start;
    margin-left: 145px;
}
.cubee{
    border: #000000 solid 3px;
    background: #ffffff;
    width: 240px;
    height: 84px;
    margin-top: -88.9px;
    justify-content: start;
    margin-left: 388px;
}
.cubeee{
    border: #000000 solid 3px;
    background: #ffffff;
    width: 240px;
    height: 84px;
    margin-top: -2.2px;
    justify-content: start;
    margin-left: 388px;
}
.cubeeee{
    border: #000000 solid 3px;
    background: #ffffff;
    width: 240px;
    height: 84px;
    margin-top: -89.5px;
    justify-content: start;
    margin-left: 145px;
}
.text8{
    font-size: 25px;
}
.box25{
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 720px;
    margin-top: -9%;
}
.text9{
    font-size: 30px;
}
.box26{
    display: flex;
    margin-top: -9.5%;
    flex-direction: column;
    justify-content: start;
    margin-left: 180px;
}
.box27{
    display: flex;
    margin-top: -2%;
    flex-direction: column;
    justify-content: start;
    margin-left: 420px;
}
.box28{
    display: flex;
    margin-top: 4%;
    flex-direction: column;
    justify-content: start;
    margin-left: 180px;
}
.box29{
    display: flex;
    margin-top: -2%;
    flex-direction: column;
    justify-content: start;
    margin-left: 420px;
}

.box30{
    display: flex;
    justify-content: start;
    margin-left: 170px;
    gap: 130px;
    margin-top: -14.5%;
    position: relative;
}

.box31{
    display: flex;
    justify-content: start;
    margin-left: 170px;
    gap: 140px;
    margin-top: 1.8%;
    position: relative;
}
.box32{
    display: flex;
    justify-content: start;
    margin-left: 170px;
    gap: 160px;
    margin-top: 1.5%;
}
.box33{
    display: flex;
    justify-content: start;
    margin-left: 170px;
    gap: 100px;
    margin-top: 1.4%;
}
.black1{
    width: 110%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -3%;
    margin-top: 7%;
    rotate: 4deg;
}
.black2{
    width: 110%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -3%;
    margin-top: 1%;
    rotate: 1.5deg;
}
.black3{
    width: 110%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -5%;
    margin-top: -7%;
    rotate: -10deg;
}

.box34{
    display: flex;
    justify-content: start;
    margin-left: 145px;
    margin-top: 12%;
}
.text10{
    font-size: 60px;
}
.box35{
    display: flex;
    justify-content: start;
    margin-left: 145px;
    margin-top: 3%;
}
.group1{
    display: flex;
    justify-content: start;
    margin-left: 145px;
    margin-top: 3%;
}
.text11{
    font-size: 250px;
}
.letter{
    display: flex;
    justify-content: center;
    margin-top: -20%;
    margin-left: -950px;
}
.cane{
    display: flex;
    justify-content: center;
    margin-top: -14%;
    margin-left: -630px;
}
.letter1{
    display: flex;
    justify-content: center;
    margin-top: -14.5%;
    margin-left: -100px;
}
.cane1{
    display: flex;
    justify-content: center;
    margin-top: -14%;
    margin-left: 220px;
}
.letter2{
    display: flex;
    justify-content: center;
    margin-top: -17%;
    margin-left: 760px;
}
.cane2{
    display: flex;
    justify-content: center;
    margin-top: -13.5%;
    margin-left: 1095px;
}
.box36{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 2%;
    margin-left: -780px;
}
.box37{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: -1.7%;
    margin-left: 65px;
}
.box38{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: -1.5%;
    margin-left: 935px;
}
.note{
    display: flex;
    justify-content: center;
    width: 750px;
    margin-top: -26%;
    margin-left: 870px;
}
.box39{
    display: flex;
    justify-content: center;
    margin-top: -11%;
    margin-left: 970px;
    rotate: -3.48deg;
}

.box40{
    display: flex;
    justify-content: start;
    margin-left: 145px;
    margin-top: 16%;
}
.a{
    display: flex;
    justify-content: start;
    margin-left: 145px;
    margin-top: 2%;
}
.b{
    display: flex;
    justify-content: start;
    margin-left: 145px;
    margin-top: 2%;
}
.box41{
    display: flex;
    justify-content: center;
    margin-top: -41%;
    margin-left: -260px;
}
.finger1{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-left: -970px;
}
.finger2{
    display: flex;
    justify-content: center;
    margin-top: -12%;
    margin-left: -270px;
}
.finger3{
    display: flex;
    justify-content: center;
    margin-top: -11%;
    margin-left: 430px;
}
.text12{
    font-size: 210px;
}
.box42{
    display: flex;
    justify-content: center;
    margin-top: -12.5%;
    margin-left: -590px;
}
.box43{
    display: flex;
    justify-content: center;
    margin-top: -14.5%;
    margin-left: 110px;
}
.box44{
    display: flex;
    justify-content: center;
    gap: 64px;
    margin-top: 0%;
    margin-left: -280px;
}
.text13{
    font-size: 23px;
}
.box45{
    display: flex;
    justify-content: center;
    margin-top: 3.5%;
    margin-left: -270px;
}
.box46{
    display: flex;
    justify-content: center;
    gap: 64px;
    margin-top: 15%;
    margin-left: -280px;
}
.finger4{
    display: flex;
    justify-content: center;
    margin-top: -14.5%;
    margin-left: -970px;
}
.finger5{
    display: flex;
    justify-content: center;
    margin-top: -11%;
    margin-left: -620px;
}
.finger6{
    display: flex;
    justify-content: center;
    margin-top: -11.5%;
    margin-left: 80px;
}
.box47{
    display: flex;
    justify-content: center;
    margin-top: -12.5%;
    margin-left: -245px;
}
.box48{
    display: flex;
    justify-content: center;
    margin-top: -14.5%;
    margin-left: 460px;
}
.lyp{
    display: flex;
    justify-content: center;
    margin-top: -40%;
    margin-left: -1020px;
    rotate: 121.89deg;
}
.lyp1{
    display: flex;
    justify-content: center;
    margin-top: 0%;
    margin-left: -520px;
    rotate: -57.96deg;
}
.lyp2{
    display: flex;
    justify-content: center;
    margin-top: -20%;
    margin-left: 170px;
    rotate: -175.77deg;
}
.lyp3{
    display: flex;
    justify-content: center;
    margin-top: 22%;
    margin-left: -1010px;
    rotate: 36.84deg;
}
.lyp4{
    display: flex;
    justify-content: center;
    margin-top: -18%;
    margin-left: -180px;
    rotate: -36.54deg;
}
.lyp5{
    display: flex;
    justify-content: center;
    margin-top: -13%;
    margin-left: 480px;
    rotate: 122.78deg;
}
.note1{
    display: flex;
    justify-content: center;
    width: 700px;
    margin-top: -37%;
    margin-left: 860px;
}
.note2{
    display: flex;
    justify-content: center;
    width: 500px;
    margin-top: 25%;
    margin-left: 960px;
}
.box49{
    display: flex;
    justify-content: center;
    margin-top: -47.5%;
    margin-left: 870px;
    rotate: -8.19deg;
}
.box50{
    display: flex;
    justify-content: center;
    margin-top: 35%;
    margin-left: 960px;
    rotate: 7.03deg;
}
.box51{
    display: flex;
    justify-content: start;
    margin-left: 145px;
    margin-top: 0%;
}
.rred{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-left: -1070px;
}
.text14{
    font-size: 238px;
}
.letter3{
    display: flex;
    justify-content: center;
    margin-top: -14.1%;
    margin-left: -940px;
}
.rred1{
    display: flex;
    justify-content: center;
    margin-top: -14.2%;
    margin-left: -670px;
}
.letter4{
    display: flex;
    justify-content: center;
    margin-top: -14.2%;
    margin-left: -540px;
}
.rred2{
    display: flex;
    justify-content: center;
    margin-top: -14.2%;
    margin-left: -280px;
}
.letter5{
    display: flex;
    justify-content: center;
    margin-top: -14.2%;
    margin-left: -150px;
}
.rred3{
    display: flex;
    justify-content: center;
    margin-top: -14.1%;
    margin-left: 130px;
}
.letter6{
    display: flex;
    justify-content: center;
    margin-top: -14.1%;
    margin-left: 250px;
}
.note3{
    display: flex;
    justify-content: center;
    margin-top: -10%;
    margin-left: 900px;
}
.box52{
    display: flex;
    justify-content: center;
    margin-top: -12.5%;
    margin-left: 870px;
    rotate: -8.06deg;
}
.box53{
    display: flex;
    justify-content: center;
    margin-top: -13.5%;
    margin-left: -1120px;
}
.box54{
    display: flex;
    justify-content: center;
    margin-top: -1.8%;
    margin-left: -720px;
}
.box55{
    display: flex;
    justify-content: center;
    margin-top: -1.6%;
    margin-left: -325px;
}
.box56{
    display: flex;
    justify-content: center;
    margin-top: -1.8%;
    margin-left: 80px;
}
.box57{
    display: flex;
    justify-content: center;
    margin-top: 6%;
    margin-left: -1010px;
}
.box58{
    display: flex;
    justify-content: center;
    margin-top: -1.7%;
    margin-left: -600px;
}
.box59{
    display: flex;
    justify-content: center;
    margin-top: -1.7%;
    margin-left: -210px;
}
.box60{
    display: flex;
    justify-content: center;
    margin-top: -1.7%;
    margin-left: 200px;
}
.a1{
    display: flex;
    justify-content: center;
    margin-top: 6%;
    margin-left: -890px;
}
.a2{
    display: flex;
    justify-content: center;
    margin-top: -17.5%;
    margin-left: -290px;
}
.a3{
    display: flex;
    justify-content: center;
    margin-top: -16%;
    margin-left: 260px;
}
.a4{
    display: flex;
    justify-content: center;
    margin-top: -15%;
    margin-left: 810px;
}
.box61{
    display: flex;
    justify-content: center;
    margin-top: -11%;
    margin-left: -1120px;
}
.box62{
    display: flex;
    justify-content: center;
    margin-top: -0.5%;
    margin-left: -520px;
}
.box63{
    display: flex;
    justify-content: center;
    margin-top: -1%;
    margin-left: 55px;
}
.box64{
    display: flex;
    justify-content: center;
    margin-top: -1%;
    margin-left: 640px;
}
.box65{
    display: flex;
    justify-content: center;
    margin-top: 8%;
    margin-left: -975px;
}
.box66{
    display: flex;
    justify-content: center;
    margin-top: -1.7%;
    margin-left: -400px;
}
.box67{
    display: flex;
    justify-content: center;
    margin-top: -1.8%;
    margin-left: 190px;
}
.box68{
    display: flex;
    justify-content: center;
    margin-top: -1.5%;
    margin-left: 760px;
}

.box69{
    display: flex;
    justify-content: center;
    margin-top: 2.5%;
    margin-left: -680px;
}
.note4{
    display: flex;
    justify-content: center;
    margin-top: -2%;
    margin-left: 900px;
}
.box70{
    display: flex;
    justify-content: center;
    margin-top: -8.5%;
    margin-left: 875px;
    rotate: 6.63deg;
}
.papka{
    display: flex;
    justify-content: center;
    margin-top: -1%;
    margin-left: 350px;
    rotate: 6.63deg;
}
.papka1{
    display: flex;
    justify-content: center;
    margin-top: -60%;
    margin-left: -60px;
    rotate: -7deg;
}
.papka2{
    display: flex;
    justify-content: center;
    margin-top: -64%;
    margin-left: -400px;
    rotate: -4deg;
}
.sled{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-left: 0px;
}
.box71{
    display: flex;
    justify-content: center;
    margin-top: -2%;
    margin-left: -940px;
}
.group{
    display: flex;
    justify-content: center;
    margin-top: 3%;
    margin-left: 100px;
}
.evidence1{
    display: flex;
    justify-content: center;
    width: 23%;
    margin-top: -33%;
    margin-left: 50px;
}
.evidence1 img{
    width: 23%;
}
.evidence2{
    display: flex;
    justify-content: center;
    width: 23%;
    margin-top: -7%;
    margin-left: 250px;
}
.evidence2 img{
    width: 23%;
}
.evidence3{
    display: flex;
    justify-content: center;
    width: 23%;
    margin-top: -6.6%;
    margin-left: 455px;
}
.evidence3 img{
    width: 23%;
}
.evidence4{
    display: flex;
    justify-content: center;
    width: 23%;
    margin-top: -6.6%;
    margin-left: 650px;
}
.evidence4 img{
    width: 23%;
}
.evidence5{
    display: flex;
    justify-content: center;
    width: 23%;
    margin-top: -6.2%;
    margin-left: 855px;
}
.evidence5 img{
    width: 23%;
}
.evidence6{
    display: flex;
    justify-content: center;
    width: 23%;
    margin-top: -7.1%;
    margin-left: 1060px;
}
.evidence6 img{
    width: 23%;
}
.evidence7{
    display: flex;
    justify-content: center;
    width: 23%;
    margin-top: 10%;
    margin-left: 50px;
}
.evidence7 img{
    width: 23%;
}
.evidence8{
    display: flex;
    justify-content: center;
    width: 23%;
    margin-top: -6.2%;
    margin-left: 250px;
}
.evidence8 img{
    width: 23%;
}
.evidence9{
    display: flex;
    justify-content: center;
    width: 23%;
    margin-top: -7%;
    margin-left: 455px;
}
.evidence9 img{
    width: 23%;
}
.evidence10{
    display: flex;
    justify-content: center;
    width: 23%;
    margin-top: -7%;
    margin-left: 650px;
}
.evidence10 img{
    width: 23%;
}
.evidence11{
    display: flex;
    justify-content: center;
    width: 23%;
    margin-top: -7%;
    margin-left: 850px;
}
.evidence11 img{
    width: 23%;
}
.evidence12{
    display: flex;
    justify-content: center;
    width: 23%;
    margin-top: -7%;
    margin-left: 1050px;
}
.evidence12 img{
    width: 23%;
}
.subject1{
    display: flex;
    justify-content: center;
    width: 26%;
    margin-top: -14%;
    margin-left: 100px;
}
.subject1 img{
    width: 26%;
}
.subject2{
    display: flex;
    justify-content: center;
    width: 32%;
    margin-top: -5.5%;
    margin-left: 250px;
}
.subject2 img{
    width: 32%;
}
.subject3{
    display: flex;
    justify-content: center;
    width: 25%;
    margin-top: -8%;
    margin-left: 520px;
}
.subject3 img{
    width: 25%;
}
.subject4{
    display: flex;
    justify-content: center;
    width: 30%;
    margin-top: -7%;
    margin-left: 660px;
}
.subject4 img{
    width: 30%;
}
.subject5{
    display: flex;
    justify-content: center;
    width: 32%;
    margin-top: -7.3%;
    margin-left: 850px;
}
.subject5 img{
    width: 32%;
}
.subject6{
    display: flex;
    justify-content: center;
    width: 27%;
    margin-top: -9%;
    margin-left: 1100px;
}
.subject6 img{
    width: 27%;
}
.subject7{
    display: flex;
    justify-content: center;
    width: 31%;
    margin-top: 12%;
    margin-left: 55px;
}
.subject7 img{
    width: 31%;
}
.subject8{
    display: flex;
    justify-content: center;
    width: 24.5%;
    margin-top: -8.5%;
    margin-left: 320px;
}
.subject8 img{
    width: 24.5%;
}
.subject9{
    display: flex;
    justify-content: center;
    width: 23%;
    margin-top: -6%;
    margin-left: 530px;
}
.subject9 img{
    width: 23%;
}
.subject10{
    display: flex;
    justify-content: center;
    width: 21%;
    margin-top: -8%;
    margin-left: 760px;
}
.subject10 img{
    width: 21%;
}
.subject11{
    display: flex;
    justify-content: center;
    width: 26%;
    margin-top: -7.6%;
    margin-left: 900px;
}
.subject11 img{
    width: 26%;
}
.subject12{
    display: flex;
    justify-content: center;
    width: 28%;
    margin-top: -7%;
    margin-left: 1080px;
}
.subject12 img{
    width: 28%;
}
.box72{
    display: flex;
    justify-content: center;
    margin-top: 6%;
    margin-left: -940px;
}

.car{
    display: flex;
    justify-content: center;
    width: 60%;
    margin-top: 3%;
    margin-left: 20px;
}
.car img{
    width: 60%;
}
.car1{
    display: flex;
    justify-content: center;
    width: 60%;
    margin-top: -33%;
    margin-left: 650px;
}
.car1 img{
    width: 60%;
}
.text17{
    color: rgb(255, 255, 255);
    font-size: 50px;
}
.box73{
    display: flex;
    justify-content: center;
    margin-top: -10%;
    margin-left: -570px;
}
.text18{
    color: rgb(255, 255, 255);
    font-size: 27px;
}
.box74{
    display: flex;
    justify-content: center;
    margin-top: -3.1%;
    margin-left: -345px;
}
.box75{
    display: flex;
    justify-content: center;
    margin-top: -4.1%;
    margin-left: 670px;
}
.box76{
    display: flex;
    justify-content: center;
    margin-top: -2%;
    margin-left: 890px;
}
.box77{
    display: flex;
    justify-content: center;
    margin-top: 13%;
    margin-left: -850px;
}

.line{
    display: flex;
    justify-content: center;
    width: 90%;
    margin-top: 3%;
    margin-left: 110px;
}
.line img{
    width: 90%;
}
.text19{
    font-size: 40px;
}
.box78{
    display: flex;
    justify-content: center;
    line-height: 78px;
    margin-top: -40.6%;
    margin-left: -1170px;
}
.box79{
    display: flex;
    justify-content: center;
    line-height: 78px;
    margin-top: -38%;
    margin-left: 1320px;
}
.cube22{
    border: #000000 solid 3px;
    background: #000000;
    width: 294px;
    height: 470px;
    margin-top: -30%;
    margin-left: 260px;
    rotate: -7.32deg;
}
.cube23{
    border: #000000 solid 3px;
    background: #000000;
    width: 301px;
    height: 321px;
    margin-top: -35%;
    margin-left: 650px;
    rotate: 4.5deg;
}
.cube24{
    border: #000000 solid 3px;
    background: #000000;
    width: 297px;
    height: 388px;
    margin-top: -18%;
    margin-left: 1000px;
    rotate: -2.69deg;
}
.text20{
    font-size: 30px;
}
.box80{
    color: #ffffff;
    display: flex;
    justify-content: center;
    line-height: 78px;
    margin-top: -28%;
    margin-left: -650px;
    rotate: -8.38deg;
    line-height: 35px;
}
.box81{
    color: #ffffff;
    display: flex;
    justify-content: center;
    line-height: 78px;
    margin-top: -31%;
    margin-left: 120px;
    rotate: 4.5deg;
    line-height: 35px;
}
.box82{
    color: #ffffff;
    display: flex;
    justify-content: center;
    line-height: 78px;
    margin-top: -12%;
    margin-left: 840px;
    rotate: -2.69deg;
    line-height: 35px;
}
.box83{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-left: 770px;
}
.box84{
    display: flex;
    justify-content: start;
    margin-left: 145px;
    margin-top: -27%;
}
.text21{
    font-size: 60px;
}
.box85{
    display: flex;
    justify-content: start;
    margin-left: 145px;
    margin-top: -16%;
}