@font-face {
    font-family: "anonymouspro";
    src: url("../fonts/anonymouspro.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

h1, p, h3{ 
    font-family: "anonymouspro";
}

@font-face {
    font-family: "anonymousproitalic";
    src: url("../fonts/anonymousproitalic.ttf")  format("truetype");
    font-style: italic;
    font-weight: italic;
}
h4{
    font-family: "anonymousproitalic";
}

@font-face {
    font-family: "anonymousprobold";
    src: url("../fonts/anonymousprobold.ttf")  format("truetype");
    font-style: bold;
    font-weight: bold;
}
h2, div, h5{
    font-family: "anonymousprobold";
}

@font-face {
    font-family: "anonymousprobolditalic";
    src: url("../fonts/anonymousprobolditalic.ttf")  format("truetype");
    font-style: bold italic;
    font-weight: bold italic;
}
h6{
    font-family: "anonymousprobolditalic";
}

